body {
  margin: 0;
  padding: 0;
  background-color: #F6F6F6; /* 연회색 배경 기본 */
  color: #202020; /* 텍스트 컬러 기본 */
  box-sizing: border-box
}


@font-face {
  font-family: 'pretendard';
  src: url('/src/assets/fonts/PRETENDARD-THIN.OTF') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'pretendard';
  src: url('/src/assets/fonts/PRETENDARD-EXTRALIGHT.OTF') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'pretendard';
  src: url('/src/assets/fonts/PRETENDARD-LIGHT.OTF') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'pretendard';
  src: url('/src/assets/fonts/PRETENDARD-REGULAR.OTF') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'pretendard';
  src: url('/src/assets/fonts/PRETENDARD-MEDIUM.OTF') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'pretendard';
  src: url('/src/assets/fonts/PRETENDARD-SEMIBOLD.OTF') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'pretendard';
  src: url('/src/assets/fonts/PRETENDARD-BOLD.OTF') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'pretendard';
  src: url('/src/assets/fonts/PRETENDARD-EXTRABOLD.OTF.OTF') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'pretendard';
  src: url('/src/assets/fonts/PRETENDARD-BLACK.OTF') format('opentype');
  font-weight: 900;
}