/* cropperjs 기본 스타일 (간소화된 버전) */
.cropper-container {
  direction: ltr;
  font-size: 0;
  line-height: 0;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal,
.cropper-view-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cropper-view-box {
  outline: 1px solid #39f;
  outline-color: rgba(51, 153, 255, 0.75);
}
.cropper-line,
.cropper-point {
  position: absolute;
  background-color: #39f;
  opacity: 0.1;
}
